.btn-big {
    font-family: 'NexaRustScriptS-02';
    font-size: 42px;
    text-decoration: none;

    color: $primary;
    display: block;
    margin: 40px auto 10px;
    //font-size: 16px;
    background: $white;
    padding: 10px 10px 0px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 0px; // border on all sides
    box-shadow: 0 0 0 10px $white;
    cursor: pointer;

    text-decoration: none !important;
    text-align: center;

    &:hover, &:active {
    	background: $highlight !important;
    	color: #fff !important;
    	box-shadow: 0 0 0 10px $highlight;

    }

}

.btn-big span {
    padding: 0 5px;
}

.btn-big svg {
    height: 26px;
    display: inline-block;

    &:hover {
    	fill: $white;
    }
}

.btn-big:hover svg,
.btn-big:hover {
    fill: $white;
}

@include below(768px) {
    .btn-big svg {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .btn-big {
        float: none;
        margin: 30px auto 0
    }
}

#meet-locals,
#register-now {
	margin: 0;
	background: $primary;
	color: $white;
    box-shadow: 0 0 0 10px $primary;

    &:hover, &:active {
    	background: $highlight !important;
    	color: #fff !important;
    	box-shadow: 0 0 0 10px $highlight;

    }
}

#meet-locals svg,
#register-now svg {
    fill: $white;
}