$primary: #233746; // blue-grey
$secondary: #7a212e; // burgundy
$highlight: #ec0928; // gross red
$highlightA: rgba(236, 9, 40, 0.6);
$neutral: #c8c8c8; // neutral gray sampled from psd
$drkGray: #030303; // neutral sample from psd
$bg: #FFF;

$white: #FFF;
$black: #000;