h1.register-today {
    font-family: 'hand_scribble_sketch_rock_lLt', Helvetica, sans-serif;
    // font-family: 'the_handbold';
    font-size: 52px;
    // font-weight: 700;
    letter-spacing: 1px;
    color: $secondary;
    text-align: center;
    text-transform: uppercase;
    //padding-top: 35px;
    margin-bottom: 30px
}

#register_content label {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: $primary;
    // text-align: center;
    text-transform: uppercase;
    // padding-top: 50px;
    // margin-bottom: 30px
}

.form-group label,
.input-field label {
    font-weight: normal;
    // padding-left: 10px;
    padding-bottom: 6px;
    text-transform: uppercase
}

.input-field {
    padding-bottom: 20px
}

.radio-inline {
    padding-right: 10px
}

.form-control {
    color: #000;
    border: 1px solid #d8d8d8;
    height: 50px;
    text-rendering: optimizeLegibility;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.form-control:focus {
    border-color: #d8d8d8;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(178, 145, 106, 0.075), 0 0 8px $primary
}

.form-group {
    margin-bottom: 0px
}

.req {
    color: $highlight;
    padding-left: 2px;
    font-size: 36px;
    line-height: 0
}

// custom select

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}

.dropdown:after {
  // background: none repeat scroll 0 0 #2CA7E5;
  color: $primary;

  content: "\f078";
  font-family: 'FontAwesome';
  font-size: 14px;

  padding: 15px 25px 0px 0px;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 1;
}

#nameTitle.dropdown:after,
#pref.dropdown:after {
    top: 45px;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.fine>p {
    text-align: center;
    font-size: 14px;
    color: $primary;
    padding-top: 50px
}