@font-face {
    font-family: 'hand_scribble_sketch_rock_lLt';
    src: url('assets/fonts/typographicdesign_-_handscribblesketchrockl-light-webfont.eot');
    src: url('assets/fonts/typographicdesign_-_handscribblesketchrockl-light-webfont.eot?#iefix') format('embedded-opentype'),
         // url('assets/fonts/typographicdesign_-_handscribblesketchrockl-light-webfont.woff2') format('woff2'),
         // url('assets/fonts/typographicdesign_-_handscribblesketchrockl-light-webfont.woff') format('woff'),
         url('assets/fonts/typographicdesign_-_handscribblesketchrockl-light-webfont.ttf') format('truetype'),
         url('assets/fonts/typographicdesign_-_handscribblesketchrockl-light-webfont.svg#hand_scribble_sketch_rock_lLt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'the_handbold';
    src: url('assets/fonts/la_goupil_paris_-_thehandbold-webfont.eot');
    src: url('assets/fonts/la_goupil_paris_-_thehandbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/la_goupil_paris_-_thehandbold-webfont.woff2') format('woff2'),
         url('assets/fonts/la_goupil_paris_-_thehandbold-webfont.woff') format('woff'),
         url('assets/fonts/la_goupil_paris_-_thehandbold-webfont.ttf') format('truetype'),
         url('assets/fonts/la_goupil_paris_-_thehandbold-webfont.svg#the_handbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon.eot?-nvsyne');
	src:url('assets/fonts/icomoon.eot?#iefix-nvsyne') format('embedded-opentype'),
		url('assets/fonts/icomoon.ttf?-nvsyne') format('truetype'),
		url('assets/fonts/icomoon.woff?-nvsyne') format('woff'),
		url('assets/fonts/icomoon.svg?-nvsyne#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-FifthAve_logo_grey:before {
	content: "\e600";
}
.icon-phrd:before {
	content: "\e601";
}

@font-face {
	font-family: 'siteui';
	src:url('assets/fonts/siteui.eot?rpvvtg');
	src:url('assets/fonts/siteui.eot?rpvvtg#iefix') format('embedded-opentype'),
		url('assets/fonts/siteui.ttf?rpvvtg') format('truetype'),
		url('assets/fonts/siteui.woff?rpvvtg') format('woff'),
		url('assets/fonts/siteui.svg?rpvvtg#siteui') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'siteui' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
	content: "\e000";
}
.icon-paper-clip:before {
	content: "\e001";
}
.icon-cog:before {
	content: "\e023";
}
.icon-repeat:before {
	content: "\e058";
}
.icon-plus:before {
	content: "\e114";
}
.icon-minus:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-menu:before {
	content: "\e120";
}
.icon-inbox:before {
	content: "\e122";
}


@font-face {
    font-family: 'videoui';
    src:    url('assets/fonts/video.eot?jtn4g8');
    src:    url('assets/fonts/video.eot?jtn4g8#iefix') format('embedded-opentype'),
        url('assets/fonts/video.ttf?jtn4g8') format('truetype'),
        url('assets/fonts/video.woff?jtn4g8') format('woff'),
        url('assets/fonts/video.svg?jtn4g8#videoui') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'videoui' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play_arrow:before {
    content: "\e037";
}

@font-face {
    font-family: 'menuui';
    src:    url('assets/fonts/menu.eot?p4n2wz');
    src:    url('assets/fonts/menu.eot?p4n2wz#iefix') format('embedded-opentype'),
        url('assets/fonts/menu.ttf?p4n2wz') format('truetype'),
        url('assets/fonts/menu.woff?p4n2wz') format('woff'),
        url('assets/fonts/menu.svg?p4n2wz#menu') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'menuui' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e5d2";
}