@mixin below($width) {
  @media screen and (max-width: $width - 1) {
    @content;
  }
}

@mixin clearfix {
  &:before,
  &:after {
      content: "";
      display: table;
  } 
  &:after {
      clear: both;
  }
      zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@mixin transform-Y-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform-X-align {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin transform-XY-align {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}