/**
 * @license
 * MyFonts Webfont Build ID 3173881, 2016-02-19T02:39:18-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: TheSerifHandBold by La Goupil Paris
 * URL: http://www.myfonts.com/assets/fonts/la-goupil/the-serif-hand/bold/
 * Copyright: Copyright (c) 2013 by Julien Saurin and Fanny Coulez. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3173881
 * 
 * © 2016 MyFonts Inc
*/

// 'the hand serif bold'

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/306df9");  
@font-face {font-family: 'TheSerifHandBold';src: url('assets/fonts/306DF9_0_0.eot');src: url('assets/fonts/306DF9_0_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/306DF9_0_0.woff2') format('woff2'),url('assets/fonts/306DF9_0_0.woff') format('woff'),url('assets/fonts/306DF9_0_0.ttf') format('truetype');}

// 'nexa rust script'

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/30759d");
@font-face {font-family: 'NexaRustScriptS-02';src: url('assets/fonts/30759D_0_0.eot');src: url('assets/fonts/30759D_0_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/30759D_0_0.woff2') format('woff2'),url('assets/fonts/30759D_0_0.woff') format('woff'),url('assets/fonts/30759D_0_0.ttf') format('truetype');}
