.swiper-container {
	margin: 0 auto;
	padding-bottom: 0px;
}

.slide-contain {
	max-width: 1000px;
	margin: 0 auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("assets/img/pointing-left.min.svg");
    left: 10px;
    right: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("assets/img/pointing-right.min.svg");
    right: 10px;
    left: auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 36px;
    margin-top: -18px;
    z-index: 10;
    cursor: pointer;
    background-size: 70px 36px;
    background-position: center;
    background-repeat: no-repeat;

    @include below(768px){
    	width: 40px;
	    height: 20px;
	    margin-top: -30px;
	    z-index: 10;
	    cursor: pointer;
	    background-size: 40px 20px;
    }
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $primary;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
    // left: 0;
    // width: 100%;
}