/*
Theme Name: Venue
Author: Russell Gordon
Author URI: http://marcastudio.com
Description: Venue Development
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: modern, clean, minimal
*/


/* ----------------------------------------------------------------------------
 * Mixins & Variables
 * ------------------------------------------------------------------------- */

// @import "partials/mixins";
// @import "partials/variables";

/* ----------------------------------------------------------------------------
 * Normalize & Santize
 * ------------------------------------------------------------------------- */

// @import "vendor/normalize";
// @import "vendor/sanitize";

/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

@import "partials/mixins";
@import "partials/colours";
@import 'partials/fonts';
@import "partials/myfonts";
@import "vendor/swiper";
@import "partials/swiper-options";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "../bower_components/bootstrap-select/sass/bootstrap-select";
@import "partials/buttons";
@import "partials/contact";

img {
    vertical-align: middle;
    display:block;
    max-width:100%;
    height:auto
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $primary;
}

body {
    // background: #F7EEE7;
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;

    background: url("assets/img/bg1.jpg") left top no-repeat;
    background-size: cover!important;
    -moz-background-size: cover!important;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
}

/* Typography */

h1 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
    color: #483F30;
}

p {
    font-size: 1em;
    line-height: 1.350em;
}

.clear {
    clear: both;
}

::-webkit-input-placeholder {
   color: #666666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666666;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666666;  
}

:-ms-input-placeholder {  
   color: #666666;  
}

/* Loader */

.sk-circle-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 3;
    background: $primary;
}

.sk-circle {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Main styles */

#header {
    // position: fixed;
    // top: 0;
    width: 100%;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in; 
    // z-index: 1000;
    // background: #F7EEE7;
    background: $primary;
}

.page-content {
    padding: 40px 0 60px;
}

/* #header.popped {
    box-shadow: rgba(0,0,0,0.7) 0px 0px 31px;
    -moz-box-shadow: rgba(0,0,0,0.7) 0px 0px 31px;
    -webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 31px;
    -o-box-shadow: rgba(0,0,0,0.7) 0px 0px 31px;
} */

#navigation {
    width: auto;
    margin: 0 auto 0 auto;
    // padding: 40px 0 20px 0;
    padding-bottom: 5px;
    text-align: center;
        transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in; 
}

#navigation ul, #navigation div {
    display: block;
    width: auto;
}

#navigation ul, #navigation li {
    margin: 0;
    padding: 0;
}

#navigation li, #navigation a {
    display: inline-block;
}

#navigation li {
    font-size: 0.9em;
    padding-bottom: 10px;
}

#navigation .menu-item a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    margin: 0 20px 0 0;
    // font-size: 0.9em;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

#navigation .menu-item a span {
    border-bottom: 1px solid transparent;
}

#navigation .menu-item a:hover {
    color: $white;
}

#navigation .menu-item a:hover span {
    border-bottom: 1px solid $white;
}

#navigation .current-menu-item a {
    color: $white !important;
    // font-weight: 600;
}

#navigation .current-menu-item > a span {
    border-bottom: 1px solid $white;
}

// russ adding/overwriting stuff

.sub-menu {
    // display: none;
    position: absolute;
    width: 100px;
    // left: 10px;
    padding: 10px 0 0 0 !important;
    z-index: 5;
    display: block;

    @include below(992px){
        width: 100%;
        position: static;
        padding: 0 !important;
    }
}

.sub-menu li {
    display: block !important;
    text-align: left;
    background: $primary;

    @include below(992px){
        text-align: center;
    }
}

// 


#register_btn {
    color: #ffffff;
    background: $primary;
    border: $primary 1px solid;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

#register_btn:hover {
    background: none;
    color: $primary; 
}

#feature_video {
    width: 100%;
    position: relative;
    overflow: hidden;
    // margin: 88px 0 0 0;
}

#logo {
    width: 350px;
    height: auto;
    margin: 100px auto 100px auto;
    display: block;
    position: relative;
    z-index: 1;
}

#small_logo {
    width: 250px;
    height: auto;
    margin: 20px auto 0 auto;
    display: block;
    position: relative;
    z-index: 1;
}



#feature_image {
    // background: $primary;
    padding: 0px 0 15px 0;
}

#feature_image img {
    width: 200px;
    margin: 0 auto 0 auto;
    padding-top: 15px;
}

#register_content {
    max-width: 720px;
    // padding: 30px 0 30px 0;
    margin: 0 auto 0 auto;
}

/* Gallery Page */

.video_title {
    position: absolute;
    left: 2.5%;
    right: 2.5%;
    bottom: 15%;
    text-align: center;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
}

/* Floorplans page */

#floorplan_content {
    background: $white;
}

#floorplan_content h3 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

#plan_type_wrap {
    // width: 1000px;
    margin: 40px auto 0 auto;
    position: relative;

    @include below(786px){
        margin: 20px auto 0 auto;
    }
}

#plan_type_wrap img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 100%;
    height: auto;
}

.the_types {
    clear: both;
    // padding: 40px 0 60px 0;
}

.plan_info {
    float: right;
    margin: 20px 0 0 0;

    @include below(768px) {
        float: none;
    }
}

.plan_info p {
    color: $primary;
    font-size: 1em;
    font-weight: 500;
}

.plan_info_l {
    /* width: 98px;
    float: left; */
    text-align: right;
}

.plan_info_r {
    /* width: 175px;
    float: right;
    text-align: right;
    border-left: #C05925 2px solid;
    margin-left: 10px;
    padding-left: 10px; */
    text-align: right;
}

.info_pdf {
    border: $primary 1px solid;
    padding: 5px 10px;
    //width: 64%;
    margin: 20px 0 0 0;
    color: $primary;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    clear: both;
    float: right;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    @include below(768px){
        margin: 20px auto 0;
        float: none;
        width: 60%;
    }
}

.info_pdf:hover {
    background: $primary;
    color: #ffffff;
    text-decoration: none;
}

/* Builder Page */

#builder_slogan {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 80px auto 40px auto;
}

#builder_content {
    width: 768px;
    margin: 0 auto 80px auto;
}

#builder_content img {
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
}

#nieghbour_text p {
    font-size: 1.3em;
    color: #483F30;
    text-align: center;
}

#builder_content h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    color: #483F30;
    margin-bottom: 30px;
}

#builder_content p {
    font-size: 1em;
    color: #483F30;
    text-align: left;
    margin-bottom: 20px;
}

.text_right, .text_left {
    width: 48%;
    padding-bottom: 20px;
}

.text_right {
    float: right;   
}

.text_left {
    float: left;    
}

/*  Neighbourhood */

#nieghbour_content {
    background: $white;
    padding: 0px 0 40px 0;
}

#neighbour_map {
    clear: both;
    width: 1300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#neighbour_map img {
    max-width: 100%;
    height: auto;
}

#download_map_pdf {
    // float: right;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background: $primary;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Thank you Page */

#thankyou_content {
    width: 500px;
    margin: 0 auto 0 auto;
    text-align: center;
}

#thankyou_content p {
    margin-bottom: 20px;
}

#thankyou_content a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
}

#thankyou_content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#thankyou {
    margin: 10px auto 40px auto;
}

#emailgift {
    margin: 30px auto 30px auto;
}

/* Footer */

#footer {
    width: 700px;
    margin: 0 auto 20px auto;
}

#footer p {
    color: #483F30;
    font-size: 9px!important;
    line-height: 1.250em;
}

#disclaimer {
    width: 70%;
    float: left;
}

#social {
    float: right;
}

ul.icons {
    text-indent: 0 !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-top: 3px;
    float: right;

    @include below(992px) {
        float: none;
        padding-top: 0px;
        padding-bottom: 10px;
    }
}

ul.share li {
    display: inline-block;
}

ul.share li a {
    padding-right: 10px;
    color: $white;

    @include below(992px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

ul.share li a:hover,
ul.share li a:active {
    text-decoration: none;
    color: $highlight;
    border-bottom: 1px solid transparent !important;
}

ul.share li a:focus {
    color: black;
}

li.tw {
    margin-left: -4px;
}

li.fb {
    // margin-left: -4px;
}

#social a, #social_v2 a {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #636466;
    font-size: 2.5em;
    text-decoration: none;
    margin: 0 0 0 10px;
}

#social_v2 a {
    color: #ffffff;
}

#phrd:before {
    content: "\e601";
    border: #ffffff 1px solid;
}

.page-template-default #phrd:before  {
    border: #ffffff 1px solid!important;
}

#fifthAve:before {
    content: "\e600";
}

/* Footer V2 */

#footer_v2 {
    background: $primary !important;
    padding: 0 0 20px 0;
    clear: both;
}

#footer_v2 a {
    color: $white;
    text-decoration: none;
    // border-bottom: 1px solid $white;

    &:hover {
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid $white;
    }

    &:focus {
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid $white;
    }

    &:active {
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid $white;
    }
}

.orange_footer {
    background: $primary !important;
}

#inner_footer {
    width: 1000px;
    margin: 0 auto 0 auto;
}

.footer_divs, #footer_logo {
    width: 20%;
}

#footer_logo {
    height: auto;
    float: left;
    margin-top: 16px;
    margin-bottom: 15px;
}

.contact_divs {
    width: 15%;
    float: left;
    padding: 25px 2.5% 0 2.5%;
}

.footer_divs_wide {
    width: 40% !important;
}

.contact_divs p {
    color: #ffffff;
    font-size: 0.9em;
    padding: 0 0 0 15px;
}

#social_v2 {
    float: right;
    padding: 35px 0 0 0;
}

#footer_disclaimer {
    text-align: center;
    color: #ffffff;
    font-size: 0.6em;
}

/* 
###########

########### Responsive css ########

###########
*/

#hamburger {
    display: none;
}

@media (max-width: 1300px) {


    #neighbour_map {
        clear: both;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

}

@media (max-width: 1025px) {
    #gallery_grid, #inner_footer {
        width: 90%;
    }
    
    #siteplan_wrap img, #plan_type_wrap img, #title_squares img {
        max-width: 100%;
        height: auto;
    }
    
    #navigation li {
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    #navigation li {
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    
    #feature_sheet {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media (max-width: 768px) {
    
    /* Neighourhood */
    
    #nieghbour_text {
        width: 90%;
    }
    
    #neighbour_map {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer_divs {
        width: 100%;
        text-align: center;
    }
    
    #footer_logo {
        // width: 50%;
        width:  auto;
        display: block;
        padding-top: 20px;
        padding-bottom:10px;
        margin: 0 auto 0 auto;
        height: 80px;
        float: none;
    }
    
    .contact_divs {
        width: 95%;
        float: none;
        padding: 10px 2.5% 10px 2.5%;
    }
    
    #social_v2 {
        float: none;
        padding: 0px 0 15px 0;
    }

    .footer_divs_wide {
        width: 100% !important;
    }

    .contact_divs {
        width: 100% !important;
    }

    .contact_divs p {
        padding: 0;
    }
    
}

@media (max-width: 668px) {

    #content, #register_content, #thankyou_content {
        width: 90%;
    }
    
    #footer {
        width: 90%;
    }
    
    #disclaimer {
        width: 100%;
        float: none;
        margin: 0 0 20px 0;
    }
    
    #social {
        float: none;
        text-align: center;
    }
    
    /* Neighourhood */
    
    #nieghbour_text {
        width: 90%;
    }
    
    #neighbour_map {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
}

@include below(992px){
    #corpmenu {
        display: none !important;
    }
    
    #navigation {
        display: none;
    }
    
    #hamburger {
        clear: both;
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 0;
        padding-bottom: 10px;
    }
    
    #hamburger ul {
        background: $primary;
        display: none;
    }
    
    #hamburger li a {
        display: block;
        font-size: 1em;
        color: #ffffff;
        text-decoration: none;
        padding: 12px 0 12px 0;
    }
    
    #hamburger:before {
        font-family: 'menuui' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        content: "\e5d2";
        color: #ffffff;
        font-size: 1.5em;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    
    .plan_info div {
        display: block;
        float: none;
        border: none;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .plan_info p {
        padding-bottom: 5px;
    }
    
    .info_pdf {
        display: block;
        // width: 100%;
    }
    
    .text_right, .text_left {
        width: 100%;
        float: none;    
    }
    
}

// floorplans page

.plan_logo {
    margin: 0;
    float: right;

    @include below(768px) {
        margin: 0 auto;
        float: none;
    }
}

ul.unit-types {
    width: 100%;
    text-align: center;
    margin-top: 25px;
   // margin-bottom: 25px;
}

ul.unit-types li {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;

}

ul.unit-types li a {
    text-decoration: none;
    color: $primary;
    // background: $white;
    padding: 3px 10px;
    border: 1px solid $primary;

    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s; 

    &:hover {
        text-decoration: none;
        background: $primary;
        color: $white;
    }
    &:focus {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

ul.unit-types li.cat-item.cat-item-1 {
    display: none;
}

body.page-template-floorplans-template {
    background: $white;
}

// Gallery 

#gallery_content h3 {
    font-family: 'hand_scribble_sketch_rock_lLt', Helvetica, sans-serif;
    font-size: 52px;
    letter-spacing: 1px;
    color: $secondary;
    text-align: center;
    text-transform: uppercase;
    //padding-top: 50px;
    margin-bottom: 30px;
}

#gallery_content h3:first-child {
    //padding-top: 35px;
}

// History

#history_content {
    max-width: 1200px;
    margin: 0 auto;
    // background: url('http://placehold.it/400x600') no-repeat bottom right;
    position: relative;
}

#history_content h2 span {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    color: $drkGray;
    padding-right: 160px;
}

#history_content h2  {
    font-family: 'NexaRustScriptS-02';
    color: $secondary;
    font-size: 72px;
    line-height: 0.85em;
    text-align: right;
    margin-top: 0;
    //font-size: 24px;
    //letter-spacing: 1px;
    position: absolute;
    right: 0;

    @include below(992px){
        text-align: left;
        left: 30px;
    }
}

#history_content h3 {
    font-family: 'hand_scribble_sketch_rock_lLt', Helvetica, sans-serif;
    font-size: 62px;
    letter-spacing: 1px;
    color: $drkGray;
    //text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
}

#history_content p {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 24px;
    
    color: $drkGray;
    
}

#history_content h3 {
    margin-left: -5%;
    text-align: left;

    @include below(1200px){
        margin-left: 0;
        text-align: left;
    }
}

.gaspump {
    width: 260px;
    height: 800px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    background: url('images/gaspump.png');

    @include below(1100px){
        display: none;
    }
}

.timeline-btn {
    text-align: center;
}

.view-timeline {
    background: transparent;
    border: none;
    font-family: 'NexaRustScriptS-02';
    color: $secondary;
    font-size: 52px;
    line-height: 0.85em;
    // text-align: right;
    cursor: pointer;
    margin-top: 0;
}

// present

.render {
    position: absolute;
    z-index: 100;
    bottom: -250px;
    right: -200px;

    @include below(1200px) {
        right: 0;
    }

    @include below(992px) {
        display: none;
    }
}

// future

.building {
    width: 705px;
    height: 1000px;
    position: absolute;
    // z-index: 100;
    bottom: 0;
    right: 0;
    background: url('images/building.png');

    @include below(1200px){
        display: none;
    }
}

// developer

#developer_content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#developer_content h3 {
    font-family: 'hand_scribble_sketch_rock_lLt', Helvetica, sans-serif;
    font-size: 62px;
    letter-spacing: 1px;
    color: $secondary;
    //text-align: center;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    //margin-top: 0;
    //margin-bottom: 30px;

    @include below(450px){
        font-size: 42px;
    }
}

#developer_content h4 {
    font-family: 'NexaRustScriptS-02', Helvetica, sans-serif;
    font-size: 42px;
    display: inline-block;
    padding-top: 20px;
    
    color: $primary;
}

#developer_content p {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 24px;
    
    color: $drkGray;
    
}

.tien-sher {
    height: 180px;
    width: auto;
    display: block;
    margin: 30px auto 0;
}

// quattro

#quattro_content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#quattro_content h3 {
    font-family: 'hand_scribble_sketch_rock_lLt', Helvetica, sans-serif;
    font-size: 62px;
    letter-spacing: 1px;
    color: $secondary;
    //text-align: center;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 0;
    //margin-bottom: 30px;

    @include below(450px){
        font-size: 42px;
    }
}

#quattro_content p {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 24px;
    
    color: $drkGray;
    
}

// venue page

#venue_content {
    max-width: 1200px;
    margin: 0 auto;
    // background: url('http://placehold.it/400x600') no-repeat bottom right;
    position: relative;

    @include below(992px) {
        text-align: center;
    }
}

.abs {
    position: absolute;
    z-index: 100;
    bottom: -340px;
    right: 6%;
    width: 41.6666666667%;

    @include below(992px) {
        display:none;
    }
}

.under-image {
    min-height: 330px;

    @include below(992px) {
        display:none;
    }
}

.under-image2 {
    min-height: 340px;

    @include below(992px) {
        display:none;
    }
}

.group-selfie {
    width: 900px;
    height: 435px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;

    background: url('images/group-selfie4.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include below(1750px) {
        margin-left: -10%;
    }

    @include below(1470px) {
        margin-left: -20%;
    }

    @include below(1250px) {
        margin-left: -30%;
    }

    @include below(1090px) {
        margin-left: -35%;
    }

    @include below(1090px) {
        width: 720px;
        height: 349px;
        margin-left: -20%;
    }

    @include below(992px) {
        display: none;
    }

    /* @include below(1750px) {
        width: 800px;
        height: 387px;
    }

    @include below(1340px) {
        width: 500px;
        height: 267px;
    }

    @include below(1150px) {
        width: 400px;
        height: 214px;
    }

    @include below(992px) {
        display:none;
    } */
}

#venue_content h3,
#venue_content h4 {
    font-family: 'hand_scribble_sketch_rock_lLt', Helvetica, sans-serif;
    font-size: 62px;
    letter-spacing: 1px;
    color: $secondary;
    //text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 0;
    // margin-bottom: 30px;
}

#venue_content h4 {
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin-left: -50px;
    color: $primary;

    @include below(992px) {
        text-align: center;
        margin-left: 0;
    }
}

#venue_content h4:before,
#venue_content h4:after {
    content: "";
    position: absolute;
    width: 56px;
    height: 62px;
    margin-top: -6px;
    margin-left: -60px;
    display: inline-block;
    background: url('images/zap-l.png');

    @include below(992px) {
        //display: none;
    }
}

#venue_content h4:after {
    margin-left: 0;
    background: url('images/zap-r.png');

    @include below(992px) {
        //display: none;
    }
}

#venue_content p {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 24px;
    
    color: $drkGray;
    
}

#venue_content p span {
    color: $secondary;
}

blockquote {
    padding: 0;
    margin: 0;
    // font-size: 20px;
    border-left: none;
}

blockquote footer {
    font-family: 'TheSerifHandBold', Helvetica, sans-serif;
    font-size: 18px;
    color: $drkGray;
    display: inline;
}

#venue_content blockquote p {
    font-family: 'NexaRustScriptS-02', Helvetica, sans-serif;
    font-size: 24px;
    display: inline;
    
    color: $primary;
    
}

/* .bottom-right {
    width: 129px;
    height: 425px;
    background: url('images/gas.png');
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
} */